name: Replace TODOs in Markdown

on:
  push:
    branches:
      - '*'

jobs:
  replace_todos:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r .github/workflows/requirements.txt
          pip install gitpython

      - name: Replace TODOs
        run: python .github/workflows/replace_todos.py
      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Update TODOs in README" || true  # Ignore if there are no changes to commit
          git push

        env:
          GITHUB_TOKEN: ${{ secrets.COMMITS_TOKEN }}